<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AppControl2TAU" version="1.0.0" viewmodes="maximized">
    <tizen:app-control>
        <tizen:src name="index.html#another-page"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/getdata"/>
        <tizen:mime name="text/*"/>
    </tizen:app-control>
    <tizen:application id="Xn5tzXxxB8.AppControl2TAU" package="Xn5tzXxxB8" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>AppControl2TAU</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:profile name="mobile"/>
</widget>
